<configuration>

    <!-- log record pattern definition -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- set log level to INFO, output to console and file -->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>

</configuration>
